<mat-toolbar class="bar">

    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="icon">menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/gm-table']">Gruppi multidisciplinari</button>
        <button mat-menu-item [routerLink]="['/ambulatorio-table']">Ambulatori</button>
        <button mat-menu-item [routerLink]="['/da-decidere-table']">(?)</button>
    </mat-menu>

    <a [routerLink]="['/']" class="title">EndoStats</a>

    <span class="current-page-text">
        <mat-icon class="icon">{{this.staticCurrentPageIcon}}</mat-icon>
    </span>

    <span class="align-right">
        <button mat-icon-button type="button" (click)="fileInput.click()" matTooltip="Carica file" class="button">
            <mat-icon class="icon">upload_file</mat-icon>
        </button>
        <input hidden type="file" accept=".csv" (change)="fileChanged($event)" #fileInput>
    </span>

    <span class="data-caricamento">
        {{this.dataUltimoCaricamento ? "Data di ultimo caricamento:" + this.dataUltimoCaricamento : "Nessun file caricato"}}
    </span>
</mat-toolbar>

<router-outlet></router-outlet>