div {
    padding: auto;
    margin: auto;
    margin-top: 2%;
    width: 90%;
}

.mat-column-openDettaglio,
.mat-column-nRiga {
    flex: 0 1 10%;
}

.mat-column-cognome,
.mat-column-dataInserimento,
.mat-column-luogoDiNascita,
.mat-column-nome {
    flex: 0 1 15%;
}

.mat-column-email {
    flex: 0 1 20%;
}