div {
    padding: auto;
    margin: auto;
    margin-top: 2%;
    width: 90%;
}

.mat-column-id {
    flex: 0 1 5%;
}

.mat-column-openDettaglio {
    flex: 0 1 10%;
}

.mat-column-cognome,
.mat-column-dataInserimento,
.mat-column-luogoDiNascita,
.mat-column-nome {
    flex: 0 1 15%;
}